.about {
    padding: 75px 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about-article {
    color: #495e57;
}

.about-img {
    width: 50%;
    max-width: 650px;
    display: flex;
    margin-right: 100px;
}

.about-img img {
    width: 300px;
    max-height: 450px;
    position: relative;
}

.about-img .bottom-layer {
    top: 25px;
}

.about-img .top-layer {
    bottom: 25px;
    right: 100px;
}

@media (max-width: 850px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-img img {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .about {
        padding: 50px 0;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 420px) {
    .about-img {
        margin-right: 50px;
    }
}