* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, p, span, a {
    font-family: 'Karla', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
}

a {
    color: #333;
    text-decoration: none;
    display: flex;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
}