* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
    display: flex;
}

a:hover {
    color: #495e57;
    transform: translateY(-3px);
    transition: .33s ease-in;
}

a.active {
    color: #495e57;
    transform: translateY(-3px);
    transition: .33s ease-in;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
}