.dishes {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.dishes-item {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #edefee;
}

.dishes-item-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dishes-item-img img {
    width: 100%;
    height: 100%;
}

.dishes-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.dishes-item-content {
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: #333;
}

.dishes-item-title h6{
    color: #333;
    font-size: 32px;
}

.dishes-item-name {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dishes-item-title .dishes-item-price {
    color: #ee9972;
}

.dishes-item-content p {
    font-size: 20px;
}

.dishes-item-content a {
    font-size: 20px;
    padding: 10px 25px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.dishes-item-content a:hover {
    color: #ee9972;
    border-color: #ee9972;
    transition: .33s ease-in;
}

@media (max-width: 1024px) {
    .dishes {
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 25px;
    }
}

@media (max-width: 420px) {
    .dishes-item-img {
        height: 200px;
    }

    .dishes-item-content {
        gap: 15px;
        padding: 25px;
    }

    .dishes-item-title h6 {
        font-size: 28px;
    }

    .dishes-item-content p {
        font-size: 16px;
    }
}