.nav-list {
    display: flex;
    gap: 25px;
}

.nav-list a:hover {
    color: #495e57;
    transform: translateY(-3px);
    transition: .33s ease-in;
}

.nav-list a.active {
    color: #495e57;
    transform: translateY(-3px);
    transition: .33s ease-in;
}

@media (max-width: 800px) {
    .nav-list {
        gap: 15px;
    }
}